{{ define "base" -}}
API-sleutel verloopt binnenkort
=============================

Hallo {{ .Data.Name }},

Dit is een herinnering dat je API-sleutel "{{ .Data.ApiKeyName }}" verloopt op {{ .Data.ExpiresAt.Format "2006-01-02 15:04:05 MST" }}.

Genereer een nieuwe API-sleutel als je toegang wilt behouden.
{{ end -}}