{{define "root"}}VERIFY YOUR EMAIL ADDRESS

Hello {{.Data.UserFullName}},

Click the button below to confirm the email address for your {{.AppName}} account. This link expires in 24 hours.

Verify email address {{.Data.VerificationLink}}

Or if you don't like clicking buttons, open this link:
{{.Data.VerificationLink}}{{end}}