{{ define "base" -}}
Nieuwe aanmelding gedetecteerd
============================

{{ if and .Data.City .Data.Country }}
Geschatte locatie: {{ .Data.City }}, {{ .Data.Country }}
{{ end }}
IP-adres: {{ .Data.IPAddress }}
Apparaat:  {{ .Data.Device }}
Tijd:      {{ .Data.DateTime.Format "2006-01-02 15:04:05 UTC"}}

Deze aanmelding is gedetecteerd vanaf een nieuw apparaat of locatie. Als je deze
activiteit herkent, kun je dit bericht veilig negeren. Zo niet, controleer dan
je account en beveiligingsinstellingen.
{{ end -}}
