{{ define "base" }}
    <div class="header">
        <div class="logo">
            <img src="{{ .LogoURL }}" alt="{{ .AppName }}" width="32" height="32" style="width: 32px; height: 32px; max-width: 32px;"/>
            <h1>{{ .AppName }}</h1>
        </div>
    </div>
    <div class="content">
        <h2>Aanmeldcode</h2>
        <p class="message">
            Klik op de knop hieronder om in te loggen bij {{ .AppName }} met een aanmeldcode.</br>Of ga naar <a href="{{ .Data.LoginLink }}">{{ .Data.LoginLink }}</a> en voer de code <strong>{{ .Data.Code }}</strong> in.</br></br>Deze code verloopt over {{.Data.ExpirationString}}.
        </p>
        <div class="button-container">
            <a class="button" href="{{ .Data.LoginLinkWithCode }}" class="button">Inloggen</a>
        </div>
    </div>
{{ end -}}