{{ define "base" -}}
Aanmeldcode
===========

Klik op de link hieronder om in te loggen bij {{ .AppName }} met een aanmeldcode. Deze code verloopt over {{.Data.ExpirationString}}.

{{ .Data.LoginLinkWithCode }}

Of ga naar {{ .Data.LoginLink }} en voer de code "{{ .Data.Code }}" in.
{{ end -}}
