{{define "root"}}YOUR LOGIN CODE

Use the code below to sign in to {{.AppName}}. It expires in {{.Data.ExpirationString}}.

{{.Data.Code}}

Sign in {{.Data.LoginLinkWithCode}}

Or open {{.Data.LoginLink}} and enter the code manually.{{end}}